* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: white;
    box-shadow: 0px 1px 5px #302f2f;
}

.logo-menu {
    margin-left: 5%;
    width: 35%;
}

.menu-lateral {
    display: table;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

.menu-lateral__item a {
    font-family: "Arial";
    font-size: 1rem;
    margin-top: 1rem;
    list-style-type: none;
    display: block;
    padding: .3em 1em;
    background-color: white;
    color: #000000;
    text-decoration: none;
}

.menu-lateral__item a:hover {
    background-color: white;
    color: #707070;
}


/*Menu Hamburguesa*/

.nav--top {
    position: absolute;
    margin-top: 3rem;
    margin-left: 2rem;
    top: 0;
    left: 0;
    z-index: 10;
    width: 3em;
    height: 3em;
    color: #5c5a5a;
    overflow: hidden;
    cursor: pointer;
}

.nav--top:after {
    content: "☰";
    font-size: 2em;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 25%;
    margin-top: -6px;
    margin-left: -4px;
}

.nav--top__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -5;
    height: 80px;
    /*background-color: white;*/
}
.checkbox__hack {
    display: none;
}

.checkbox__hack:checked~.nav--top {
    overflow: visible;
}

.checkbox__hack:checked~.nav--top::after {
    content: "☰";
}

.checkbox-hack__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 52.8px;
    color: white;
    overflow: visible;
    cursor: pointer;
    margin: 0;
    z-index: 100;
}


.hero {
    background-image: url(img/taxi.jpg);
    background-size: contain;
    background-repeat: round;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box-yellow{
    background-color:#f7b617;
    width: 78%;
    height:47%;
}

p.uno {
    font-family: "Arial";
    font-size: 2rem;
    color: white;
    margin: 1.2em 1.2em 1em 1em;
    text-align: left;
}
.logo-lc {
    width: 55%;
    margin-left: 0.5rem;
}

/*boton app*/

.labcar {
    font-family: "Arial";
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 10px;
    background: white;
    margin: 0 0 0 2rem;
}

.info-app {
    background-color: #f7b617;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.encuadre {
    border: 2px solid #FFF;
    margin: 3em 2em 2em;
}
.celular {
    padding: 0 0 4rem;
    width: 60%;
}

.dos {
    font-family: "Arial";
    font-size: 1.2rem;
    color: white;
    margin: 2.5em 0 1em;
}

.dos-subtexto {
    font-family: "Arial";
    font-size: 1rem;
    color: white;
    margin-bottom: 2em;
}

.info-conduce {
    background-image: url(img/conduce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 38vh;
    width: 100vw;
    display: flex;
}

.opaco{
    background-color: rgba(0, 0, 0, 0.6);
    height:100%;
    width: 100%;
}

.txt-conduce {
    font-family: "Arial";
    font-size: 1.3rem;
    color: white;
    margin-left: 0.5em;
    margin-top: 2.2em;
    margin-bottom: .8em;
}

.txt-opcion {
    font-family: "Arial";
    font-size: 1.2rem;
    color: white;
    margin-left: 0.5em;
}
.button-conductor {
    font-family: "Arial";
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 6px;
    background: #f7b617;
    margin: 1.2em 0 0 0.5em;
}

.tarifas {
    background-color: #f7b617;
    display: flex;
    flex-direction: column;
}
.subsection-tarifas{
    margin-top: 15%;
}
.txt-tarifas {
    font-family: "Arial";
    font-size: 1.2rem;
    color: white;
    margin-left: 5%;
    margin-top: 1.2rem;

}

.txt-consulta-tarifas {
    font-family: "Arial";
    font-size: 1.5rem;
    color: white;
    margin-left: 0.8em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.input-ruta {
    margin-left: 5%;
    margin-top: 3em;
}

.punto-partida {
    font-family: "Arial";
    font-size: 1rem;
    background-color: #f7b617;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
    margin-left: 1rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}
::placeholder {
    color: white;
}

.button-ruta {
    font-family: "Arial";
    font-weight: bold;
    font-size: .9rem;
    padding: .6rem 1rem;
    border-radius: 5px;
    border: none;
    background: white;
    margin: 2rem 0 25%;
   
}
.centrado {
    text-align: center;
}

.footer {
    background-color: #2b2b2b;
    display: flex;
}
.logo-blanco {
    width: 32%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.foot-int {
    margin: 5%;
}
ul {
    list-style: none;
}
.menu-footer {
    display: flex;
    flex-direction: row;
}
.opciones-menu-footer {
    font-family: "Arial";
    font-size: 1rem;
    color: white;
    line-height: 3rem;
    margin: 1rem 0 1.5rem;
    width: 50%;
}
figure{
    width: 50%;
}
.icons {
  display: inline-flex;
  margin: 1.5rem 0 2rem;
}
img.iconos-img{
    width: 65%;
}
.play-store{
    width: 95%;
    margin-bottom: 1rem;
}

.copyright {
    font-family: "Arial";
    font-size: 1rem;
    color: white;
    margin: 1.5rem 0 3rem;
    text-align: center;
}

@media (min-width:608px){
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 75vh;
        background-position: -50% bottom;
    }
    .uno{
        display: none;
    }
}